@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --background: #FFFFF;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", serif !important;
}

a {
  color: inherit;
  text-decoration: none;
  width: 100%;
}

.container {
  width: 1140px;
  margin: auto;
}

p,
button,
.css-rizt0-MuiTypography-root {
  font-family: "Inter", serif !important;
}
